body {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAIUlEQVQYV2N89urtfwYiACNIoZSYMCMhtaMK8YYQ0cEDAG5yJ8eLRhTfAAAAAElFTkSuQmCC) repeat;
  overflow : hidden;
}

h1, h2, h3, h4 {
  color: #eeeeee; }

header {
  padding: 1rem 2rem;
  background: #121319; }
  header h1 {
    font-size: 3rem;
    text-align: left; }

main .sudoku {
  white-space: pre;
  font-family: monospace !important;
  text-align: center;
  color: black;
  
  font-size: 2rem; }
  @media (max-width: 425px) {
    main .sudoku {
      font-size: 18px; } }

main .load {
  width: 29%;
  margin: 0 auto; }
  @media (max-width: 425px) {
    main .load {
      width: 100%; } }

form .form-inline {
  display: inline-block !important; }

span.tb-border, span.tb-col {
  color: #DD1717; }

