<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
		integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/grid.css') }}">
	<title>SudokuSolver.io</title>
</head>

<body>
	<header>
		<h1>Sudoku Solver</h1>
	</header>
	<main>
	<div class="box">
	<form action="http://localhost:5000/check" method="POST" class="form" autocomplete="off">
		<table id="grid" border="1" style="border-collapse: collapse;">
			{% for i in range(9) %}
			<tr>
				{% for j in range(9) %}
				{% if board[i][j] != 0 %}
				<td class="cell"> {{ board[i][j] }} </td>
				{% else %}
				<td class="cell"><input name="{{i}}-{{j}}" id="{{i}}-{{j}}" type="text" maxlength="1"></td>
				{% endif %}
				{% endfor %}
			</tr>
			{% endfor %}
		</table>
		{% if button != 0 %}
		<div class="d-flex justify-content-center">
			<div class="row">
				<input class="btn btn-primary" type="submit" value="Submit" style="margin-right: 30px;">
				<a href="http://localhost:5000/solution">
					<button type="button" class="btn btn-danger">View Solution</button>
				</a>	
			</div>
			</div>
		{% endif %}
	</form>
	</div>
	</main>
</body>

</html>